.display-location {
}

.display-location__content {
    padding: 4rem 6rem 0 6rem;
    word-wrap: break-word;
}

.display-location__edit {
}

.display-location__image {
    position: relative; 
    width: 100vw;
    max-width: 100%;
    z-index: -1;
}

.display-location__image-container {
    height: 40vh;
    overflow-y: hidden;
}

.display-location__title {
    color: #838383;
    font-weight: 700;
}

.display-location__price {
    vertical-align: middle;
    color: #838383;
    font-weight: 700;
    font-size: 24px;
    align-items: center;
}

.display-location__night {
    color: black;
    font-weight: 300;
}