.card {
    margin-top: 2rem !important;
    margin-bottom: 1rem !important;
}

.card-img {
    height: 250px;
    width: 250px;
    border-radius: 20px;
    object-fit: cover;
}

.card-container {
    cursor: pointer;
    transition: transform .2s;
}

.card-container:hover {
    transform: scale(1.05);
}

.card-location-span {
    font-weight: bolder;
    color: #838383;
    margin-left: 4px;
}

.card-text-span {
    color: #838383;
    margin: 2px 0 2px 4px;
    font-weight: 400;
}